.Info{
  display: flex;
  flex-direction: column;
  color:#e6e6e6;
  gap: 10px;
  
}
.Info input, textarea {
  margin: 10px 0px;
  background-color: #1a1d21;
  border: solid 2px rgba(255,255,255,0.06);
  padding: 5px 5px;
  color:#e6e6e6;
  border-radius: 8px;
  transition: all 0.15s ease;

}
input:focus, textarea:focus{
  outline: none;
  border-color: #4ade80;
  box-shadow: 0 0 0 2px rgba(74,222,128,0.15);

}

button{
  cursor: pointer;
  background-color: #28303b;
  margin-top: 2px;
  color:#e6e6e6 ;
}

/* This targets the placeholder text specifically */
.Info input::placeholder, 
.Info textarea::placeholder {
  color:  #9aa4af;  
  opacity: 1;      /* Firefox lowers opacity by default, this fixes it */
}

.delete-btn {
    background-color: #1a1d21; 
    color: white;
    border: none;
    border-radius: 50%; 
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.2s;
    margin: 0px 30px;
}

.delete-btn:hover {
    background-color: #cc0000; 
}

.inputAll{
  border-bottom: 1px solid rgba(255,255,255,0.06);
}

.sectionHead{
  display: flex;
  min-width: 100%;
  padding-bottom:2px; 
  border-bottom: 1px solid rgba(255,255,255,0.06);
  gap: 15px;
}

.section{
  margin-bottom: 20px;
}
input[type="checkbox"] {
  accent-color: #000000;
  transform: scale(1.8);
  cursor: pointer;
}

.longer_the_input{
  width: 60%;
}