.ResumePage {
    width: 210mm;         /* Exact A4 Width */
    min-height: 297mm;    /* Starts at A4 height, grows if you type more */
    padding: 12.7mm;        
    background: white;
    
    /* This ensures padding doesn't make the paper wider than 210mm */
    box-sizing: border-box; 
    
    /* Visuals to make it look like paper on a desk */
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    margin-bottom: 20px;

    font-family: "Times New Roman", Times, serif;
    font-size: 14px; /* This is approx 10.5pt print size */
    line-height: 1.3; /* Tighter line height for density */

    transform: scale(0.54); /* to fit on screen */
    /* Pin it to the top so it doesn't float away */
    transform-origin: top center;
}

.name{
    font-size: 28px;
    font-weight: bold;
}

.nsutLogo{
    height: 80px;
    position: absolute; /* Takes it "out" of the flow */
    left: 0;            /* Pins it to the far left */
    /* top: 0;          (Optional: depends on if you want it aligned to top or middle) */
    height: 60px;       /* Adjust sizing */
}

.header{
    position: relative; /* Crucial: Makes the logo stick to THIS box, not the page */
    height: 80px;     }  /* Give it a fixed height so the content doesn't jump */
.Pinfo{
    text-align: center;

}
.links{
    margin-top: 3px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.section-heading{
    font-weight:bold ;
    font-size: 20px;
    padding: 0px 4px;
    border: solid 2px black;
    background-color: rgb(228, 228, 228);
    margin:5px 0px
}

.eduTable{
    border: 2px solid black;
    width: 100%;
    margin: 10px 0px;
    border-collapse: collapse; /* PREVENTS DOUBLE BORDERS OMG*/
}

td{
    border: 2px solid black;
    padding: 4px 8px;
}

.subHeading{
    font-size: 18px;
    font-weight:bold;
}

.expHead,.projectHead{
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}