* {
  margin: 0;
}
html{
  font-size: 14px;
}
.container{
    display: flex;
    height: 100vh;
    overflow: hidden;    /* PREVENT the whole page from scrolling */
}

.left{
    width: 60%;
    padding: 1.25rem;
    border-right: 2px solid #ddd;
    background-color:#1c1f23;
    overflow: auto;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 40%;
  background-color: rgb(92, 95, 103);
  align-items: center;
}

.printBtn ,.viewBtn ,.editBtn {
  background: linear-gradient(135deg, #16a34a, #22c55e);
  border-radius: 8px;
  height: 42px;
  width: 160px;
  font-weight: 600;
  letter-spacing: 0.4px;
  box-shadow: 0 6px 16px rgba(34,197,94,0.35);
  transition: all 0.15s ease;
}

.printBtn:hover,.viewBtn:hover ,.editBtn:hover{
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(34,197,94,0.45);
}

.viewDiv{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
@media print {

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  body * {
    visibility: hidden;
  }

  .ResumePage,
  .ResumePage * {
    visibility: visible;
  }

  .ResumePage {
    width: 210mm;
    min-height: 297mm;
    position: absolute;
    left: 0;
    top: 0;

    
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .printWrap{
    transform: none !important; 
    margin: 0 !important;
    width: 100% !important;
  }

  /*  Remove browser headers/footers (URL, Date, Page Number) */
  @page {
    margin: 0 ; 
    size: A4;
  }
}

@media (max-width: 1024px) {
  .left,.right {
    width: 100%;
  }
}
