* {
  margin: 0;
}
.container{
    display: flex;
    height: 100vh;
    overflow: hidden;    /* PREVENT the whole page from scrolling */
}

.left{
    width: 60%;
    padding: 20px;
    border-right: 2px solid #ddd;
    background-color:#303131;
    overflow: auto;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  padding: 20px;
  background-color: #b9c5c0;
  align-items: center;
}

.printBtn{
  background-color: rgb(5, 62, 5);
  color: #d2d8d6;
  width: 150px;
  height: 150px;
}

@media print {

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  body * {
    visibility: hidden;
  }

  .ResumePage,
  .ResumePage * {
    visibility: visible;
  }

  .ResumePage {
    width: 210mm;
    min-height: 297mm;

    position: absolute;
    left: 50%; /* resume starts at 50% of width*/
    top: 0;  
    transform: translateX(-50%); /*resume shifts left by 50% of its own width*/

    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /*  Remove browser headers/footers (URL, Date, Page Number) */
  @page {
    margin: 0 ; 
    size: A4;
  }

}