* {
  margin: 0;
}
.container{
    display: flex;
    height: 100vh;
}

.left{
    width: 60%;
    padding: 20px;
    border-right: 2px solid #ddd;
    background-color:#0a0a0a;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  padding: 20px;
  background-color: #b9c5c0;
  align-items: center;
}
